<div class="mainScope">

    <div class="addCinemaScope">
        <p>Додати кінотеатр</p>

        <div class="Control">

            <form [formGroup]="cinemaAddForm" (ngSubmit)="createCinema()">

                <div>
                    <p>Адреса:</p>
                    <input id="cinemaAddress" type="text" formControlName="address">
                </div>

                <div>
                    <p>Назва:</p>
                    <input id="cinemaCaption" type="text" formControlName="caption">
                </div>

                <div>
                    <p>Опис:</p>
                    <input id="cinemaDescription" type="text" formControlName="description">
                </div>

                <div>

                    <div (click)="clearAddCinemaFields()">
                        <p>Очистити поля</p>
                    </div>

                    <button type="submit" *ngIf="cinemaAddForm.valid">
                        Додати
                    </button>

                </div>

            </form>

        </div>

    </div>


    <div class="listOfCinemas">
        <p>Всі кінотеатри</p>

        <div class="Control">

            <div class="cinemaNameAndAddress" *ngFor="let i of cinemas" (click)="selectCertainCinema(i.caption)">
                <p class="cinemaText">
                    {{i.caption}}
                    |
                    <span>{{i.address}}</span>
                </p>
            </div>

        </div>

    </div>


    <div class="changeCertainCinema" [style.visibility]="selectedCinema !== -1 ? 'visible' : 'hidden'">

        <p>Редагувати налаштування кінотеатру</p>

        <div class="Control">

            <form [formGroup]="cinemaChangeForm" (ngSubmit)="onFormSubmit(cinemaChangeForm.value)">

                <div>
                    <p>Назва:</p>
                    <input id="cinemaChangeCaption" type="text" formControlName="caption"
                           [value]="cinemas[selectedCinema].caption">
                </div>

                <div>
                    <p>Адреса:</p>
                    <input id="cinemaChangeAddress" type="text" formControlName="address"
                           [value]="cinemas[selectedCinema].address">
                </div>

                <div>
                    <p>Опис:</p>
                    <input id="cinemaChangeDescription" type="text" formControlName="description"
                           [value]="cinemas[selectedCinema].description">
                </div>

                <div>

                    <div (click)="clearChangeCinemaFields()">
                        <p>Очистити поля</p>
                    </div>

                    <button type="submit" (click)="updateCinema()" *ngIf="cinemaChangeForm.valid">
                        Змінити
                    </button>

                </div>

            </form>

        </div>

        <div class="deleteCinema"><p>Видалити кінотеатр</p></div>

    </div>

</div>
