<div class="AdminPageContainer">

    <header>

        <div class="LeftSide">
            <p id="mainAdminPageTab" (click)="showCertainContent('')">Головна сторінка</p>
            <p id="cinemaTab" (click)="showCertainContent('cinema')">Кінотеатри</p>
            <p id="filmTab" (click)="showCertainContent('film')">Фільми</p>
        </div>

        <div class="RightSide">
            <p (click)="this.router.navigate(['mainPage'])">Вийти</p>
        </div>

    </header>

    <main>

        <div class="DefaultMain">

            <div (click)="showCertainContent('cinema')"><p>Кінотеатри</p></div>
            <div (click)="showCertainContent('film')"><p>Фільми</p></div>

        </div>

        <app-cinemas-admin class="cinema"></app-cinemas-admin>

    </main>

</div>
